resources/*
node_modules/*
public/*
!public/images/
!public/files/
!public/og/
!public/favicon.ico
!public/robots.txt
!public/site.webmanifest
!public/secret/
/.*
.*/
!.github/
!.env.example
DOCS.md
GETTING-STARTED.md
USE-CASES.md
_vendor/
**/demo/
dist/
test-results/
lighthouse-reports/
Dockerfile.lhci
docker-compose.lhci.yml
lighthouserc.json
org.md
style.md
prompt/
