resources/*
node_modules/*
public/*
!public/images/
!public/files/
!public/favicon.ico
!public/site.webmanifest
/.*
.*/
!.github/
DOCS.md
GETTING-STARTED.md
USE-CASES.md
_vendor/
**/demo/
dist/
test-results/
org.md
style.md
